<div class="container-fluid " ng-controller="mainSliderController">
  <div id="mainSlider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
<!--     <ol class="carousel-indicators">
      <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
      <li data-target="#mainSlider" data-slide-to="1"></li>
      <li data-target="#mainSlider" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div ng-repeat="carousel_image in MAINSLIDERS" ng-if="carousel_image.status" class="item {{ carousel_image.display_first }}">
        <img src="{{IMAGE_DOMAIN}}{{carousel_image.image_path}}" alt="{{carousel_image.name}}" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>
