<nav class="navbar navbar-inverse" ng-controller='headerController' style="margin-bottom: 0 !important">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WebSiteName</a>
    </div>

    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="pricing">Pricing</a></li>
            <li><a ui-sref="review">Reviews</a></li>
            <li><a ui-sref="faq">FAQs</a></li>
            <li><a ui-sref="about">About</a></li>
            <li>
                <a ui-sref="register">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#login">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
    </div>

  </div>
</nav>
