<div class="container">
    <div class="col-md-6">
        <h3>Sign Up</h3>
        <form class="form-group" ng-submit="registerSubmit()">
            <label for="name">Name</label>
            <input type="text" name="name" ng-model="name" class="form-control" required />

            <label for="email">Email</label>
            <input type="text" name="email" ng-model="email" class="form-control" required/>

            <label for="email">Username</label>
            <input type="text" name="username" ng-model="username" class="form-control" required/>

            <label for="password">Password</label>
            <input type="password" name="password" ng-model="password" class="form-control" required/>

            <label for="repassword">Confirm Password</label>
            <input type="password" name="repassword" ng-model="repassword" class="form-control" required/>
            <br/>
            <input type="submit" name="Register" value="Sign Up" class="btn btn-primary">
            <a ui-sref="register" class="btn btn-danger">Reset</a>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Connect Social</h3>
        <p class="text-center">
            <button class="btn btn-info btn-lg" ng-click="authenticate('facebook')">Sign in with Facebook</button>
        </p>
        <p class="text-center">
            <button class="btn btn-danger btn-lg" ng-click="authenticate('google')">Sign in with Google</button>
        </p>
        <p class="text-center">
            <button class="btn btn-primary btn-lg" ng-click="authenticate('linkedin')">Sign in with Linkedin</button>
        </p>
    </div>
</div>
