<!-- Login modal -->
<div id="login" class="modal fade" role="dialog" ng-controller="loginController">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form class="form-group" ng-submit="loginSubmit()">
          <label for="username">Username</label>
          <input class="form-control" type="text" name="username" placeholder="Email or username" ng-model="username">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" placeholder="Password" ng-model="password">
          <input type="submit" name="Login" value="Login" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
