<div class="container-fluid bg-info" ng-controller='footerController'>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        Image
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <h4>Company</h4>
        <ul style="list-style: none">
            <li>
                <a ui-sref="contact">
                Contact Us
                </a>
            </li>
            <li>
                <a ui-sref="press">
                Press
                </a>
            </li>
            <li>
                <a href="#">
                Blog
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <h4>Customer Care</h4>
        <ul style="list-style: none">
            <li>
                <a ui-sref="faq">
                FAQs
                </a>
            </li>
            <li>
                <a ui-sref="privacy-policy">
                    Privacy Policy
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="row">
            <div class="col-md-12">
                <h4>Follow us:</h4>
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h4>Follow us:</h4>
                <form class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="Email Id">
                    </span>
                </form>
            </div>
        </div>
    </div>
    <h5 class="text-center">
        &copy; 2016 Lokafy. All Rights Reserved
    </h5>
</div>

